<%- include('header') %>
<body>
					<% data.forEach((appointment) => { %>
						<form action="/appointment/edit/<%= appointment.id %>" method="post">
							<div class="form-group">
								<label for="patient_id">Patient ID:</label>
								<input type="text" class="form-control" name="patient_id" id="patient_id" required>
							</div>

							<div class="form-group">
								<label for="doctor_id">Doctor ID:</label>
								<input type="text" class="form-control" name="doctor_id" id="doctor_id" required>
							</div>

							<div class="form-group">
								<label for="appointment_date">Date:</label>
								<input type="date" class="form-control" name="appointment_date" id="appointment_date" required>
							</div>
							<div class="modal-footer">
								<a href="/appointment/close">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</a>
									<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
						<% }); %>
<%- include('footer') %>
