<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>edit appointment</title>
</head>
<body>
	<div class="container">
		<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="appointmentModalLabel">Schedule Appointment</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
						<div class="modal-body">
							<% data.forEach((appointment) => { %>
						<form action="/appointment/edit/:id" method="post">
							<div class="form-group">
								<label for="patient_id">Patient ID:</label>
								<input type="text" class="form-control" name="patient_id" id="patient_id" required>
							</div>

							<div class="form-group">
								<label for="doctor_id">Doctor ID:</label>
								<input type="text" class="form-control" name="doctor_id" id="doctor_id" required>
							</div>

							<div class="form-group">
								<label for="appointment_date">Date:</label>
								<input type="date" class="form-control" name="appointment_date" id="appointment_date" required>
							</div>
							<div class="modal-footer">
								<a href="/appointment/close">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</a>
									<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
						<% }); %>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
